<div id="tabs">
 <aside id="guidebook-menu">
  <ul id="u1">
   <h4>Start Here</h4>
   <li><a href="#tabs-1" class="active">Welcome</a></li>
   <li><a href="#rules">Rules</a></li>
   <li><a href="#plot">Plot</a></li>
   <li><a href="#apply">How to Apply</a></li>
  </ul>

  <ul id="u2">
   <h4>Site Mechanics</h4>
   <li><a href="#timeline">Timeline</a></li>
   <li><a href="#points-store">Points Store</a></li>
   <li><a href="#npcs">NPCs</a></li>
   <li><a href="#staff-intervention">Intervention</a></li>
  </ul>

  <ul id="u3">
   <h4>Locations</h4>
   <li><a href="#townmap">Map</a></li>
   <li><a href="#town">The Town</a></li>
   <li><a href="#commune">The Commune</a></li>
   <li><a href="#the-blank">The Blank</a></li>
  </ul>

  <ul id="u4">
   <h4>Subplots</h4>
   <li><a href="#commune-plot">The Commune</a></li>
   <li><a href="#cult-plot">The Watcher Cult</a></li>
  </ul>

  <ul id="u5">
   <h4>The Horrors</h4>
   <li><a href="#watcher">The Watcher</a></li>
   <li><a href="#arrival">Arrival</a></li>
   <li><a href="#gifts">Gifts</a></li>
   <li><a href="#other-lore">Other Lore</a></li>
  </ul>

  <ul id="u6">
   <h4>Daily Life</h4>
   <li><a href="#basics">The Basics</a></li>
   <li><a href="#jobs">Occupations</a></li>
   <li><a href="#weather">Time & Weather</a></li>
   <li><a href="#flora-fauna">Flora & Fauna</a></li>
   <li><a href="#scarcity">Scarcity & Resources</a></li>
   <li><a href="#faq">Questions & Answers</a></li>
  </ul>
 </aside>

 <div id="guidebook-info">
  <!-- start here -->
  <section id="tabs-1" class="guidebook-content active"><% g-welcome %></section>
  <section id="rules" class="guidebook-content"><% g-rules %></section>
  <section id="plot" class="guidebook-content"><% g-plot %></section>
  <section id="apply" class="guidebook-content"><% g-howto %></section>

  <!-- site mechanics -->
  <section id="timeline" class="guidebook-content"><% g-timeline %></section>
  <section id="points-store" class="guidebook-content"><% g-rewards %></section>
  <section id="npcs" class="guidebook-content"><% g-npcs %></section>
  <section id="staff-intervention" class="guidebook-content"><% g-staffinter %></section>

  <!-- setting: locations -->
  <section id="townmap" class="guidebook-content"><% g-map %></section>
  <section id="town" class="guidebook-content"><% g-town %></section>
  <section id="commune" class="guidebook-content"><% g-commune %></section>
  <section id="the-blank" class="guidebook-content"><% g-blank %></section>

  <!-- subplots -->
  <section id="commune-plot" class="guidebook-content"><% g-communeplo %></section>
  <section id="cult-plot" class="guidebook-content"><% g-cultplot %></section>

  <!-- the horrors -->
  <section id="watcher" class="guidebook-content"><% g-watcher %></section>
  <section id="arrival" class="guidebook-content"><% g-arrival %></section>
  <section id="gifts" class="guidebook-content"><% g-gifts %></section>
  <section id="other-lore" class="guidebook-content"><% g-otherlore %></section>

  <!-- daily life -->
  <section id="basics" class="guidebook-content"><% g-basics %></section>
  <section id="jobs" class="guidebook-content"><% g-jobs %></section>
  <section id="weather" class="guidebook-content"><% g-weather %></section>
  <section id="flora-fauna" class="guidebook-content"><% g-florafauna %></section>
  <section id="scarcity" class="guidebook-content"><% g-scarcity %></section>
  <section id="faq" class="guidebook-content"><% g-faq %></section>
 </div>
</div>
