<div id="tabs">
 <aside id="guidebook-menu"><% g-menu %></aside>

 <div id="guidebook-info">
  <section id="tabs-1" class="guidebook-content active">
   <% g-welcome %>
  </section>
  <section id="rules" class="guidebook-content"><% g-rules %></section>
  <section id="plot" class="guidebook-content"><% g-plot %></section>
  <section id="timeline" class="guidebook-content"><% g-timeline %></section>
  <section id="townmap" class="guidebook-content"><% g-map %></section>
  <section id="points-store" class="guidebook-content"><% g-rewards %></section>
  <section id="arrival" class="guidebook-content"><% g-arrival %></section>
  <section id="gifts" class="guidebook-content"><% g-gifts %></section>
  <section id="watcher" class="guidebook-content"><% g-watcher %></section>
  <section id="the-blank" class="guidebook-content"><% g-blank %></section>
  <section id="daily-life" class="guidebook-content">
   <% g-daily-life %>
  </section>
  <section id="locations" class="guidebook-content"><% g-locations %></section>
  <section id="jobs" class="guidebook-content"><% g-jobs %></section>
  <section id="npcs" class="guidebook-content"><% g-npcs %></section>
  <section id="population" class="guidebook-content">
   <% g-population %>
  </section>
  <section id="flora-fauna" class="guidebook-content">
   <% g-florafauna %>
  </section>
  <section id="weather" class="guidebook-content"><% g-weather %></section>
  <section id="misc" class="guidebook-content"><% g-misc %></section>
  <section id="join-1" class="guidebook-content"><% g-howto %></section>
  <section id="join-2" class="guidebook-content"><% g-appinfo %></section>
 </div>
</div>
