<div id="tabs">
	<aside id="guidebook-menu"><% g-menu %></aside>

	<div id="guidebook-info">
		<section id="tabs-1" class="guidebook-content active"><% g-welcome %></section>
		<section id="tabs-2" class="guidebook-content"><% g-rules %></section>
		<section id="tabs-3" class="guidebook-content"><% g-plot %></section>
		<section id="tabs-4" class="guidebook-content"><% g-lore %></section>
		<section id="tabs-5" class="guidebook-content"><% g-locations %></section>
		<section id="tabs-6" class="guidebook-content"><% g-gifts %></section>
		<section id="tabs-7" class="guidebook-content"><% g-jobs %></section>
		<section id="tabs-8" class="guidebook-content"><% g-npcs %></section>
		<section id="tabs-9" class="guidebook-content"><% g-rewards %></section>
		<section id="tabs-10" class="guidebook-content"><% g-howto %></section>
		<section id="tabs-11" class="guidebook-content"><% g-appinfo %></section>
		<section id="tabs-12" class="guidebook-content"><% g-appfaq %></section>
	</div>
</div>
