<!DOCTYPE html>
<html>
 <head>
  <meta name="viewport" content="width=device-width" />
  <title><% TITLE %></title>
  <link
   rel="icon"
   type="image/x-icon"
   href="https://files.jcink.net/uploads2/welcomehomeroleplay/Icons/favicon.ico" />
  <% CSS %>
  <link
   rel="stylesheet"
   href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
   href="https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Kode+Mono:wght@400..700&family=Open+Sans:wght@300..800&display=swap"
   rel="stylesheet" />
  <link
   rel="stylesheet"
   href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
   integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
   crossorigin="" />

  <script src="https://files.jcink.net/html/jquery-3.7.1.min.js"></script>
  <script src="https://files.jcink.net/html/catcollapse.js"></script>
  <script>
   // set dark/light mode before page load
   if (localStorage.theme) {
    document.documentElement.setAttribute('data-theme', localStorage.theme);
   } else {
    document.documentElement.setAttribute('data-theme', 'light');
   }
  </script>
  <script src="https://files.jcink.net/uploads2/fizzyelf/sharedresources/editProfilePageFeatures.js"></script>
  <script
   src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
   integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
   crossorigin=""></script>
 </head>
 <body
  id="<!-- |input_act| -->"
  class="act-<!-- |input_act| --> g_<!-- |g_id| --> m_<!-- |id| --> p_<!-- |parent_id| --> code-<!-- |input_CODE| -->">
  <% navbar %>
  <div id="wrapper">
   <div id="logo">
    <a href="index.php"><{LOGO}></a>
   </div>
   <% BOARD HEADER %>
   <div id="innerwrapper">
    <div id="navi"><% NAVIGATION %></div>
    <% BOARD %>
    <div id="skin_selector"><% SKIN_SELECTOR %></div>
    <div id="copyright">
     <% COPYRIGHT %>
     <div class="skin-info">Skinned by Luna of Barbermonger</div>
    </div>
   </div>
  </div>

  <% USER_SCRIPTS %>
 </body>
</html>
